.navbar{
    background-color: rgb(177, 86, 54) !important;
    color:white !important;
}
.nav{
    color:white !important;
}
.logo{
    margin-left: 190px !important;
   
}
.nav2{
    background-color: white !important;
}
.drop{
    margin-left: 300px !important;
}

.d-flex{
   position: relative;
   left:-180px
}
.img1{
    width:100% !important;
    height:500px !important;
}
h1{
    text-align: center;
    color:white;
    margin-top: -280px;
    font-size: 70px;
    font-weight: bold;
}
.container1{
   width: 100% !important;
    margin-top: 250px;
    margin-left: 100px;
    display:flex;
    justify-content: space-evenly;
    height:300px;
    
}
.main-img{
    border:none !important;
    height:150px;
}
.section1{
    background-color: bisque;
    width:100%;
    height:250px;
    margin-top: -70px;
}
.sec1-button{
    border:1px solid gray;
    background-color: white !important;
}
.sec1-button1{
    background-color: orangered !important;
    border:none !important
}
.footer{
    background-color: rgba(165, 42, 42, 0.849);
    width:100%;
    height:300px;
     
}
.table{
    padding-top: 30px !important;
}
.ft1{
    color:white;
    margin-left: 500px;
   position: relative;
   top:15px;

}

.ft2{
    margin-left: 700px;
    
    position: relative;
    top:-190px;
    color:white;    
}
.ft3{
    margin-left: 900px;
    /* margin-top: -190px; */
    color:white;
    position: relative;
    top:-320px;
}
.ft-img{
    margin-left: -800px;
    margin-top: -120px;
}